extends _layout.pug

block var
	- var title = 'Service'
	- var bodyClass = 'Service-page'

block main
	include ../components/_global/banner
	include ../components/_global/breadcrumb
	include ../components/duan/chitiet