extends _layout.pug

block var
	- var title = 'About'
	- var bodyClass = 'about-page'

block main
	include ../components/_global/banner
	include ../components/_global/breadcrumb
	include ../components/gioithieu/g-1
	include ../components/gioithieu/g-2
	include ../components/gioithieu/g-3
	include ../components/gioithieu/g-4
	include ../components/gioithieu/g-5