section.media-news-wrapper
	.container
		.row
			.col-lg-4.col-sm-6
				.video-item
					.imgbox
						a(href="dichvu-ct.html")
							img.lazyload(data-src="./img/service/1.jpg", alt="")
					.play-button
						a(href="#")
							img(src="./img/icon_play.png", alt="")