.home-banner
	.swiper-container
		.swiper-nav
			span.lnr.lnr-chevron-left
			span.lnr.lnr-chevron-right
		.swiper-wrapper
			.swiper-slide(style="background-image: url('./img/banner/h_1.jpg')")
				.container
					.caption.active
						h3 Đạt Vĩnh Tiến
						p Đối tác uy tín với sản phẩm chất lượng
			.swiper-slide(style="background-image: url('./img/banner/h_2.jpg')")
				.container
					.caption
						h3 Đạt Vĩnh Tiến
						p Trách nhiệm hôm nay - Vững bền tương lai
			.swiper-slide(style="background-image: url('./img/banner/h_3.jpg')")
				.container
					.caption
						h3 Đạt Vĩnh Tiến
						p 
							b Đạt 
							| thành tựu - 
							b vĩnh 
							| thành công - 
							b tiến 
							| tới tương lai
		.btn-down
			img(src="./img/btn-down.png", alt="")