section.home-2.pd-60
	.container
		.row.top
			.col-lg-4.title
				h2.main-title 
					span Giới thiệu về
					b Đạt Vĩnh Tiến
			.col-lg
				.textbox
					p Công ty Đạt Vĩnh Tiến xin gửi đến Quý khách hàng lời chào trân trọng và xin được giới thiệu đôi nét về công ty:
					br
					p Công ty Đạt Vĩnh Tiến được thành lập vào ngày 22/11/2005, chuyên sản xuất tủ bảng điện, thang máng cáp, miệng gió. Là Công ty còn non trẻ nhưng với sự am tường về công nghệ và thấu hiểu nhu cầu của khách hàng ngày càng khắt khe nên công ty chúng tôi đã và đang nỗ lực hết mực nên chỉ sau vài năm Đạt Vĩnh Tiến đã gần gũi và được khách hàng tin dùng, đã góp phần nâng cao chất lượng công trình luôn tạo ra sự an toàn cho khách hàng.
					br 
					p Ngoài ra, Công ty chúng tôi còn là nhà phân phối các thiết bị đóng cắt MG & TELE, ABB, MITSHUBISHI, LS,… và còn được sự tín nhiệm của SCHNEIDER trở thành PANEL BUILDER của SCHNEIDER. 
					.btn-wrapper
						a.btn-viewmore.white(href="#") 
							span Xem thêm
							span.lnr.lnr-arrow-right
		.row.bottom
			.col-lg-3.col-sm-6
				.item
					.img
						img(src="./img/home/icon_1.png", alt="")
					.text 
						h4(data-count="14") 0
						p năm xây dựng uy tín trên thị trường
			.col-lg-3.col-sm-6
				.item
					.img
						img(src="./img/home/icon_2.png", alt="")
					.text 
						h4(data-count="208") 0
						p nhân công năng lực bậc cao
			.col-lg-3.col-sm-6
				.item
					.img
						img(src="./img/home/icon_3.png", alt="")
					.text 
						h4(data-count="76") 0
						p  dự án với những đối tác lớn 
			.col-lg-3.col-sm-6
				.item
					.img
						img(src="./img/home/icon_4.png", alt="")
					.text 
						h4(data-count="06") 0
						p chứng nhận đạt tiêu chuẩn quốc tế
