section.home-3.pd-60.red-square
	.container.home-tab
		h2.main-title.center Dự án
		nav(tab-for="home-project")
			a.tab-item.active(href="#tab-content-1") Dự án tiêu biểu
			a.tab-item(href="#tab-content-2") Dự án ở nước ngoài
	.container.projects-list(tab-content="home-project")
		.tab-content.show#tab-content-1
			.row
				.col-lg-8.block-1.clearfix
					.project-item-col
						.project-item
							.imgbox(style="background-image: url('./img/project/1.jpg')")
							.title
								h4 Casino Phú Quốc
							.info-hover
								h4 Casino Phú Quốc
								p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.project-item-col
						.project-item
							.imgbox(style="background-image: url('./img/project/2.jpg')")
							.title
								h4 Casino Phú Quốc
							.info-hover
								h4 Casino Phú Quốc
								p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.project-item-col
						.project-item
							.imgbox(style="background-image: url('./img/project/3.jpg')")
							.title
								h4 Casino Phú Quốc
							.info-hover
								h4 Casino Phú Quốc
								p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.project-item-col
						.project-item
							.imgbox(style="background-image: url('./img/project/4.jpg')")
							.title
								h4 Casino Phú Quốc
							.info-hover
								h4 Casino Phú Quốc
								p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
				.col-lg-4.block-2.clearfix
					.project-item-col
						.project-item
							.imgbox(style="background-image: url('./img/project/5.jpg')")
							.title
								h4 Casino Phú Quốc
							.info-hover
								h4 Casino Phú Quốc
								p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.project-item-col
						.project-item
							.imgbox(style="background-image: url('./img/project/6.jpg')")
							.title
								h4 Casino Phú Quốc
							.info-hover
								h4 Casino Phú Quốc
								p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
		.tab-content#tab-content-2(style="display: none")
			.row
				.col-lg-8.block-1
					.project-item-col
						.project-item
							.imgbox(style="background-image: url('./img/project/1.jpg')")
							.title
								h4 Casino Phú Quốc
							.info-hover
								h4 Casino Phú Quốc
								p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.project-item-col
						.project-item
							.imgbox(style="background-image: url('./img/project/2.jpg')")
							.title
								h4 Casino Phú Quốc
							.info-hover
								h4 Casino Phú Quốc
								p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.project-item-col
						.project-item
							.imgbox(style="background-image: url('./img/project/3.jpg')")
							.title
								h4 Casino Phú Quốc
							.info-hover
								h4 Casino Phú Quốc
								p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.project-item-col
						.project-item
							.imgbox(style="background-image: url('./img/project/4.jpg')")
							.title
								h4 Casino Phú Quốc
							.info-hover
								h4 Casino Phú Quốc
								p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
				.col-lg-4.block-2
					.project-item-col
						.project-item
							.imgbox(style="background-image: url('./img/project/5.jpg')")
							.title
								h4 Casino Phú Quốc
							.info-hover
								h4 Casino Phú Quốc
								p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.project-item-col
						.project-item
							.imgbox(style="background-image: url('./img/project/6.jpg')")
							.title
								h4 Casino Phú Quốc
							.info-hover
								h4 Casino Phú Quốc
								p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					