section.home-6.pd-60.red-square
	.container.home-tab
		h2.main-title.center Tin tức
		nav(tab-for="home-news")
			a.tab-item.active(href="#tab-content-1") Tin nội bộ công ty
			a.tab-item(href="#tab-content-2") Báo chí nói về chúng tôi
	.container.projects-list(tab-content="home-news")
		.tab-content.show#tab-content-1
			.news-list.clearfix
				.news-item-col
					.news-item
						.imgbox
							a(href="#" style="background-image: url('./img/news/1.jpg')")
								img(src="./img/news/1.jpg", alt="")
						.info
							time 18/09/2017
							h4 
								a(href="#") Đạt Vĩnh Tiến cống bố Giấy chứng nhận KEMA Type Test cho tủ điện hạ thế 6300 A, 100 kA, Form 4B và IP43 
							a.btn-viewmore.red(href="#")
								span Xem thêm
								span.lnr.lnr-arrow-right
				.news-item-col
					.news-item
						.imgbox
							a(href="#" style="background-image: url('./img/news/2.jpg')")
								img(src="./img/news/2.jpg", alt="")
						.info
							time 18/09/2017
							h4 
								a(href="#") Đạt Vĩnh Tiến cống bố Giấy chứng nhận KEMA Type Test cho tủ điện hạ thế 6300 A, 100 kA, Form 4B và IP43 
							a.btn-viewmore.red(href="#")
								span Xem thêm
								span.lnr.lnr-arrow-right

				.news-item-col
					.news-item
						.imgbox
							a(href="#" style="background-image: url('./img/news/3.jpg')")
								img(src="./img/news/3.jpg", alt="")
						.info
							time 18/09/2017
							h4 
								a(href="#") Đạt Vĩnh Tiến cống bố Giấy chứng nhận KEMA Type Test cho tủ điện 
							a.btn-viewmore.red(href="#")
								span Xem thêm
								span.lnr.lnr-arrow-right
			.btn-wrapper
				a.btn-viewmore(href="#")
					span Xem tất cả
					span.lnr.lnr-arrow-right
		.tab-content#tab-content-2
			.news-list.clearfix
				.news-item-col
					.news-item
						.imgbox
							a(href="#" style="background-image: url('./img/news/1.jpg')")
								img(src="./img/news/1.jpg", alt="")
						.info
							time 18/09/2017
							h4 
								a(href="#") Đạt Vĩnh Tiến cống bố Giấy chứng nhận KEMA Type Test cho tủ điện hạ thế 6300 A, 100 kA, Form 4B và IP43 
							a.btn-viewmore.red(href="#")
								span Xem thêm
								span.lnr.lnr-arrow-right
				.news-item-col
					.news-item
						.imgbox
							a(href="#" style="background-image: url('./img/news/2.jpg')")
								img(src="./img/news/2.jpg", alt="")
						.info
							time 18/09/2017
							h4 
								a(href="#") Đạt Vĩnh Tiến cống bố Giấy chứng nhận KEMA Type Test cho tủ điện hạ thế 6300 A, 100 kA, Form 4B và IP43 
							a.btn-viewmore.red(href="#")
								span Xem thêm
								span.lnr.lnr-arrow-right

				.news-item-col
					.news-item
						.imgbox
							a(href="#" style="background-image: url('./img/news/3.jpg')")
								img(src="./img/news/3.jpg", alt="")
						.info
							time 18/09/2017
							h4 
								a(href="#") Đạt Vĩnh Tiến cống bố Giấy chứng nhận KEMA Type Test cho tủ điện 
							a.btn-viewmore.red(href="#")
								span Xem thêm
								span.lnr.lnr-arrow-right
			.btn-wrapper
				a.btn-viewmore(href="#")
					span Xem tất cả
					span.lnr.lnr-arrow-right