section.home-7.pd-60.red-square
	.container
		h2.main-title.center Tuyển dụng
		.row
			.col-lg-8
				.row
					.col-sm-4
						.home-job-news-item
							.imgbox
								a(href="#")
									img(src="./img/job/1.jpg", alt="")
							.title
								h4 Văn hoá doanh nghiệp
							.info-hover
								h4
									a(href="#") Văn hoá doanh nghiệp
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
									
					.col-sm-4
						.home-job-news-item
							.imgbox
								a(href="#")
									img(src="./img/job/2.jpg", alt="")
							.title
								h4 Phúc lợi cho nhân viên
							.info-hover
								h4
									a(href="#") Phúc lợi cho nhân viên
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
									
					.col-sm-4
						.home-job-news-item
							.imgbox
								a(href="#")
									img(src="./img/job/3.jpg", alt="")
							.title
								h4 Quy trình tuyển dụng
							.info-hover
								h4
									a(href="#") Quy trình tuyển dụng
								a.btn-viewmore.white(href="#") 
									span Xem thêm
									span.lnr.lnr-arrow-right
									
			.col-lg-4
				.job-list
					.home-job-item
						.title
							h4 
								a(href="tuyendung-ct.html") Tuyển dụng Nhân viên kinh doanh tại Hồ Chí Minh
						.quantity
							span.mdi.mdi-account
							span 05
					.home-job-item
						.title
							h4 
								a(href="tuyendung-ct.html") Tuyển dụng Nhân viên kinh doanh tại Hồ Chí Minh
						.quantity
							span.mdi.mdi-account
							span 05
					.home-job-item
						.title
							h4 
								a(href="tuyendung-ct.html") Tuyển dụng Nhân viên kinh doanh tại Hồ Chí Minh
						.quantity
							span.mdi.mdi-account
							span 05
					.home-job-item
						.title
							h4 
								a(href="tuyendung-ct.html") Tuyển dụng Nhân viên kinh doanh tại Hồ Chí Minh
						.quantity
							span.mdi.mdi-account
							span 05
				.btn-wrapper
					a.btn-viewmore.red(href="#") 
						span Xem thêm
						span.lnr.lnr-arrow-right