footer
	.container.footer-top-bar
		.row
			.col-lg-6.footer-address
				h3 công ty tnhh đạt vĩnh tiến
				.row
					.col-sm-6.footer-address-item
						h4 văn phòng
						p 35 Trần Văn Danh, Phường 13, Q. Tân Bình, Tp. Hồ Chí Minh
						ul
							li 
								span.mdi.mdi-phone
								span (028) 7300 0296 - (028) 5436 3896
							li
								span.mdi.mdi-printer
								span (028) 5436 3897
							li
								span.mdi.mdi-email
								span info@datvinhtien.vn 
					.col-sm-6.footer-address-item
						h4 nhà máy 1
						p Số 4A, đường 162, tổ 8, Ấp 5, Xã Bình Mỹ, Huyện Củ Chi, Tp Hồ Chí Minh
						ul
							li 
								span.mdi.mdi-phone
								span (028) 3735 5448
							li
								span.mdi.mdi-printer
								span (028) 3735 5450
					.col-sm-6.footer-address-item
						h4 chi nhánh đà nẵng
						p 56 Nguyễn Tri Phương, P.Chính Gián, Q.Thanh Khê, Tp.Đà Nẵng Tầng 3 tòa nhà S-Home
						ul
							li 
								span.mdi.mdi-phone
								span (0236) 6509 243
							li
								span.mdi.mdi-printer
								span (0236) 6509 244
					.col-sm-6.footer-address-item
						h4 nhà máy 2
						p Cụm Công Nghiệp Hoàng GIa, Long An, xã Mỹ Hạnh Nam, Huyện Đức Hòa, Tình Long An
						ul
							li 
								span.mdi.mdi-phone
								span (0272) 3751 780 - 3751 781
							li
								span.mdi.mdi-printer
								span (0272) 3751 783
					.col-sm-6.footer-address-item
						h4 Chi nhánh hà nội
						p U05-36 khu D, khu đô thị Đô Nghĩa, Hà Đông, Hà Nội 
						ul
							li 
								span.mdi.mdi-phone
								span (028) 7300 0296
			.col-lg-6.footer-navigation
				.row
					.col-sm-6.footer-navigation-item
						h3 Giới thiệu
						ul
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Giới thiệu chung
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Giá trị & Tầm nhìn
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Lịch sử hình thành
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Chứng nhận
					.col-sm-6.footer-navigation-item
						h3 Sản phẩm
						ul
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Tủ điện
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Thang cáp & phụ kiện
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Máng cáp & phụ kiện
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Khay cáp thẳng & phụ kiện
					.col-sm-6.footer-navigation-item
						h3 Dự án
						ul
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Dự án tiêu biểu
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Dự án ở nước ngoài
					.col-sm-6.footer-navigation-item
						h3 liên kết nhanh
						ul
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Tài liệu về sản phẩm
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Tài liệu kỹ thuật
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Hồ sơ năng lực
							li 
								span.lnr.lnr-arrow-right
								a(href="#") Hồ sơ năng lực
	.footer-bottom-bar
		.container
			.row
				.col-lg-auto.copyright
					p Copyrigt 2019 by Dat Vinh Tien Co. All right reserved.
					a(href="https://canhcam.vn" style="font-size: 0")
				.col-lg-auto.social
					nav
						a.fab.fa-facebook-f(href="#")
						a.fab.fa-youtube(href="#")
						a.fab.fa-twitter(href="#")