section.service-wrapper.pd-60
	.container
		.row.no-gutters.service-info
			.col-lg-6
				.imgbox(style="background-image: url('./img/service/1.jpg')")
					img(src="./img/service/1.jpg", alt="")
			.col-lg-6
				.textbox
					h1 Lắp đặt tủ điện
					.brief-content
						p Tủ điện có khá nhiều loại nên mỗi loại đều có 1 cách lắp đặt cụ thể khác nhau, nhưng nhìn chung khi lắp đặt tủ điện đều thực hiện 1 số bước cơ bản nhất định. Sau đây là cách lắp đặt tủ điện mà MEGA ENERGY dùng được cho nhiều trường hợp.
					.full-content
						p
							strong Bước 1: 
							| lựa chọn các thiết bị cần thiết sau khi tính toán các thông số kĩ thuật

						p
							strong Bước 2: 
							| phác thảo sơ đồ sắp xếp thiết bị

						p
							strong Bước 3: 
							| gia công lắp đặt tủ điện

						p
							strong Bước 4: 
							| sắp xếp thiết bị

						p
							strong Bước 5: 
							| đấu các loại dây điện

						p
							strong Bước 6: 
							| cấp nguồn và chạy không tải
	.container
		.row
			.col-12
				.product-others
					.service-title 
						h5 Dịch vụ khác
					.row
						.col-lg-4.col-sm-6
							.service-item
								.imgbox
									a(href="dichvu-ct.html")
										img.lazyload(data-src="./img/service/1.jpg", alt="")
								.info
									h4
										a(href="dichvu-ct.html") Bảo trì và sửa chửa thang cáp
						.col-lg-4.col-sm-6
							.service-item
								.imgbox
									a(href="dichvu-ct.html")
										img.lazyload(data-src="./img/service/1.jpg", alt="")
								.info
									h4
										a(href="dichvu-ct.html") Bảo trì và sửa chửa thang cáp
						.col-lg-4.col-sm-6
							.service-item
								.imgbox
									a(href="dichvu-ct.html")
										img.lazyload(data-src="./img/service/1.jpg", alt="")
								.info
									h4
										a(href="dichvu-ct.html") Bảo trì và sửa chửa thang cáp