section.service-wrapper.pd-60
	.container
		h2.main-title.center Dịch vụ
		.row
			- for(i=1; i<7 ;i++)
				.col-lg-4.col-sm-6
					.service-item
						.imgbox
							a(href="dichvu-ct.html")
								img.lazyload(data-src="./img/service/"+i+".jpg", alt="")
						.info
							h4
								a(href="dichvu-ct.html") Bảo trì và sửa chửa thang cáp
		.pages
			.modulepager
				ul.pagination
					li.PagerCurrentPageCell.active
						span.SelectedPage 1
					li.PagerOtherPageCells
						a.ModulePager(href='#') 2
					li.PagerOtherPageCells
						a.ModulePager(href='#') 3
					li.PagerOtherPageCells
						a.ModulePager(href='#') 4
					li.PagerOtherPageCells
						a.ModulePager(href='#') 5
					li.PagerOtherPageCells
						a.ModulePager(href='#') 6
					li.PagerOtherPageCells
						a.ModulePager(href='#') 7
					li.PagerOtherPageCells
						a.ModulePager(href='#') 8
					li.PagerOtherPageCells
						a.ModulePager(href='#') 9
					li.PagerOtherPageCells
						a.ModulePager.NextPage(href='#') ›
					li.PagerOtherPageCells
						a.ModulePager.LastPage(href='#') »