<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
	<add name="Danh sách tab sản phẩm" value="1" resourcefile="" />
  </position>

  <!-- <showoption name="Quà tặng" value="1" class="gift op1" /> -->

  <templatelist xsltname="ProductList.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="ProjectList.xslt" name="Danh sách dự án" />

  <templatedetail xsltname="ProductDetail.xslt" name="Chi tiết sản phẩm" />
  <templatedetail xsltname="ProjectDetail.xslt" name="Chi tiết dự án" />
</templates>
