section.sanpham-wrapper.pd-60
	.container.product-detail
		h1.main-title Tủ hòa đồng bộ
		.row
			.col-lg-6
				.product-image-slider
					.product-thumbnails-nav
						span.lnr.lnr-chevron-up
						span.lnr.lnr-chevron-down
					.swiper-container.product-thumbnails
						.swiper-wrapper
							.swiper-slide
								.imgbox
									img(src="./img/product/1.png", alt="")
							.swiper-slide
								.imgbox
									img(src="./img/product/1.png", alt="")
							.swiper-slide
								.imgbox
									img(src="./img/product/1.png", alt="")
							.swiper-slide
								.imgbox
									img(src="./img/product/1.png", alt="")
							.swiper-slide
								.imgbox
									img(src="./img/product/1.png", alt="")
					.swiper-container.product-images
						.swiper-wrapper
							.swiper-slide
								.imgbox
									img.swiper-lazy(data-src="./img/product/1.png", alt="")
							.swiper-slide
								.imgbox
									img.swiper-lazy(data-src="./img/product/1.png", alt="")
							.swiper-slide
								.imgbox
									img.swiper-lazy(data-src="./img/product/1.png", alt="")
							.swiper-slide
								.imgbox
									img.swiper-lazy(data-src="./img/product/1.png", alt="")
							.swiper-slide
								.imgbox
									img.swiper-lazy(data-src="./img/product/1.png", alt="")
			.col-lg-6
				.brief-content
					p Tủ hòa bộ Đạt Vĩnh Tiến được thiết kế theo dạng Module hóa, dễ dàng thay đổi, mở rộng, nâng công suất mà không ảnh hưởng đến hệ thống hiện hữu. Tốc độ hòa đồng bộ cực nhanh, có khả năng quản lý bằng máy tính thông qua đấu nối trực tiếp hoặc đấu nối qua Internet. 
				.product-attributes
					table
						tbody
							tr
								th Loại tủ
								td Tủ hòa đồng bộ
							tr
								th Tiêu chuẩn
								td IEC 61439-1/2
							tr
								th Dạng tủ
								td 1,2a, 2b, 3b, 4a, 4b
							tr
								th Vật liệu vỏ
								td Thép tấm
							tr
								th Bảo vệ xâm nhập 
								td IP 31/42/54
							tr
								th Độ dày Khung tủ (mm)
								td 2.0
							tr
								th Độ dày Vỏ tủ (mm)
								td 2.0
							tr.contact
								th Liên hệ
								td 
									p
										a(href="tel:02873000296") 
											span.mdi.mdi-phone
											span (028) 7300 0296
									p
										a(href="mailto:info@datvinhtien.vn") 
											span.mdi.mdi-email
											span info@datvinhtien.vn
				.social
			.col-12
				.product-info
					.product-detail-title
						h5 Thông tin sản phẩm
					.full-content
						p Tủ điện hòa đồng bộ thực hiện các công việc để đưa các máy phát điện hay các nguồn điện đang làm việc độc lập vào làm việc song song với nhau. Đây là giải pháp kỹ thuật cao nhằm mục đích nâng cao độ tin cậy cung cấp điện và tối ưu hóa trong việc tiết kiệm nhiên liệu.
						p Ứng dụng lớn nhất của tủ điện hòa đồng bộ là trong trường hợp nguồn điện chính bị sự cố thì các máy phát điện dự phòng sẽ tự động khởi động, tự hòa đồng bộ và chia tải với nhau, ngoài ra hệ thống còn có chức năng tự động giám sát phụ tải và điều khiển cho chạy số lượng máy phát theo nhu cầu của phụ.
						br
						p Tủ hòa đồng bộ của Đạt Vĩnh Tiến được thiết kế Module hóa, dễ dàng thay đổi mở rộng nâng công suất mà không ảnh hưởng đến hệ thống hiện hữu. Tốc độ hòa đồng bộ cực nhanh, có khả năng quản lý bằng máy tính thông qua đấu nối trực tiếp hoặc đấu nối qua Internet. Sử dụng bộ điều khiển hòa đồng bộ cao cấp: Woodward, Datakom, Deepsea, Comap, Deif....
						br
						p Tủ điện hòa đồng bộ thực hiện các công việc để đưa các máy phát điện hay các nguồn điện đang làm việc độc lập vào làm việc song song với nhau. Đây là giải pháp kỹ thuật cao nhằm mục đích nâng cao độ tin cậy cung cấp điện và tối ưu hóa trong việc tiết kiệm nhiên liệu.
						br
						p Ứng dụng lớn nhất của tủ điện hòa đồng bộ là trong trường hợp nguồn điện chính bị sự cố thì các máy phát điện dự phòng sẽ tự động khởi động, tự hòa đồng bộ và chia tải với nhau, ngoài ra hệ thống còn có chức năng tự động giám sát phụ tải và điều khiển cho chạy số lượng máy phát theo nhu cầu của phụ.
						br
						p Tủ hòa đồng bộ của Đạt Vĩnh Tiến được thiết kế Module hóa, dễ dàng thay đổi mở rộng nâng công suất mà không ảnh hưởng đến hệ thống hiện hữu. Tốc độ hòa đồng bộ cực nhanh, có khả năng quản lý bằng máy tính thông qua đấu nối trực tiếp hoặc đấu nối qua Internet. Sử dụng bộ điều khiển hòa đồng bộ cao cấp: Woodward, Datakom, Deepsea, Comap, Deif....
						br
					.btn-wrapper
						a.btn-viewmore.red(href="javascript:void(0)")
							span Đọc thêm
							span.lnr.lnr-arrow-right
			.col-12
				.product-used-by-projects
					.product-detail-title
						h5 dự án sử dụng sản phẩm
					.product-used-by-projects-nav
						span.lnr.lnr-arrow-left
						span.lnr.lnr-arrow-right
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.project-item
									.imgbox(style="background-image: url('./img/project/2.jpg')")
										img(src="./img/project/2.jpg", alt="")
									.title
										h4 Casino Phú Quốc
									.info-hover
										h4 Casino Phú Quốc
										a.btn-viewmore.white(href="#") 
											span Xem thêm
											span.lnr.lnr-arrow-right
							.swiper-slide
								.project-item
									.imgbox(style="background-image: url('./img/project/2.jpg')")
										img(src="./img/project/2.jpg", alt="")
									.title
										h4 Casino Phú Quốc
									.info-hover
										h4 Casino Phú Quốc
										a.btn-viewmore.white(href="#") 
											span Xem thêm
											span.lnr.lnr-arrow-right
							.swiper-slide
								.project-item
									.imgbox(style="background-image: url('./img/project/2.jpg')")
										img(src="./img/project/2.jpg", alt="")
									.title
										h4 Casino Phú Quốc
									.info-hover
										h4 Casino Phú Quốc
										a.btn-viewmore.white(href="#") 
											span Xem thêm
											span.lnr.lnr-arrow-right
			.col-12
				.product-others
					.product-detail-title
						h5 Sản phẩm khác
					.product-others-nav
						span.lnr.lnr-arrow-left
						span.lnr.lnr-arrow-right
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.product-item
									.imgbox
										a(href="sanpham-ct.html")
											img(src="./img/product/1.png", alt="")
									.title
										h4 tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
									.info-hover
										h4
											a(href="sanpham-ct.html") tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
										a.btn-viewmore.white(href="sanpham-ct.html") 
											span Xem thêm
											span.lnr.lnr-arrow-right
							.swiper-slide
								.product-item
									.imgbox
										a(href="sanpham-ct.html")
											img(src="./img/product/1.png", alt="")
									.title
										h4 tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
									.info-hover
										h4
											a(href="sanpham-ct.html") tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
										a.btn-viewmore.white(href="sanpham-ct.html") 
											span Xem thêm
											span.lnr.lnr-arrow-right
							.swiper-slide
								.product-item
									.imgbox
										a(href="sanpham-ct.html")
											img(src="./img/product/1.png", alt="")
									.title
										h4 tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
									.info-hover
										h4
											a(href="sanpham-ct.html") tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
										a.btn-viewmore.white(href="sanpham-ct.html") 
											span Xem thêm
											span.lnr.lnr-arrow-right