section.sanpham-wrapper.pd-60
	.container
		.row
			.col-xl-3.col-lg-4
				.side-menu
					.side-menu-mobile-header
						h3 
							span Chuyên mục
							span.mdi.mdi-menu
					.side-menu-list
						.side-menu-item.active
							h3.title
								a(href="#") Tủ điện
								span.lnr.lnr-chevron-down
							ul(style="display: block")
								li
									a(href="#") Tủ điện tổng MSB
								li
									a(href="#") Tủ phân phối chính 
								li
									a(href="#") Tủ hòa đồng bộ
								li
									a(href="#") Tủ MCC
								li
									a(href="#") Tủ phân phối DB
								li.active
									a(href="#") Tủ license Prisma iPM 
								li
									a(href="#") Tủ treo tường
								li
									a(href="#") Tủ dựng đứng
						.side-menu-item
							h3.title 
								a(href="#") Thang cáp & Phụ kiện
								span.lnr.lnr-chevron-down
							ul
								li
									a(href="#") Tủ điện tổng MSB
								li
									a(href="#") Tủ phân phối chính 
								li
									a(href="#") Tủ hòa đồng bộ
								li
									a(href="#") Tủ MCC
								li
									a(href="#") Tủ phân phối DB
								li
									a(href="#") Tủ license Prisma iPM 
								li
									a(href="#") Tủ treo tường
								li
									a(href="#") Tủ dựng đứng
						.side-menu-item
							h3.title 
								a(href="#") Hệ thống ống gió
								span.lnr.lnr-chevron-down
							ul
								li
									a(href="#") Tủ điện tổng MSB
								li
									a(href="#") Tủ phân phối chính 
								li
									a(href="#") Tủ hòa đồng bộ
								li
									a(href="#") Tủ MCC
								li
									a(href="#") Tủ phân phối DB
								li
									a(href="#") Tủ license Prisma iPM 
								li
									a(href="#") Tủ treo tường
								li
									a(href="#") Tủ dựng đứng
			.col-xl-9.col-lg-8
				h2.main-title Tủ điện
				.select-bar
					.filter-wrapper
						select
							option Sắp xếp theo
							option Sắp xếp theo
							option Sắp xếp theo
							option Sắp xếp theo
					.sort-wrapper
						select
							option Sắp xếp theo
							option Sắp xếp theo
							option Sắp xếp theo
							option Sắp xếp theo
				.row.no-gutters.product-list
					- for(i=1;i<10;i++)
						.col-md-4.col-6
							.product-item
								.imgbox
									a(href="sanpham-ct.html")
										img(src="./img/product/1.png", alt="")
								.title
									h4 tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
								.info-hover
									h4
										a(href="sanpham-ct.html") tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
									a.btn-viewmore.white(href="sanpham-ct.html") 
										span Xem thêm
										span.lnr.lnr-arrow-right
				.pages
					.modulepager
						ul.pagination
							li.PagerCurrentPageCell.active
								span.SelectedPage 1
							li.PagerOtherPageCells
								a.ModulePager(href='#') 2
							li.PagerOtherPageCells
								a.ModulePager(href='#') 3
							li.PagerOtherPageCells
								a.ModulePager(href='#') 4
							li.PagerOtherPageCells
								a.ModulePager(href='#') 5
							li.PagerOtherPageCells
								a.ModulePager(href='#') 6
							li.PagerOtherPageCells
								a.ModulePager(href='#') 7
							li.PagerOtherPageCells
								a.ModulePager(href='#') 8
							li.PagerOtherPageCells
								a.ModulePager(href='#') 9
							li.PagerOtherPageCells
								a.ModulePager.NextPage(href='#') ›
							li.PagerOtherPageCells
								a.ModulePager.LastPage(href='#') »