<?xml version="1.0" encoding="utf-8" ?>
<settings>

	<!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
	<position>
		<add name="Header menu bên trái" value="1" resourcefile="" />
		<add name="Header menu bên phải" value="2" resourcefile="" />
		<add name="Footer Menu 1 - Giới thiệu" value="4" resourcefile="" />
		<add name="Footer Menu 2 - Sản phẩm" value="8" resourcefile="" />
		<add name="Footer Menu 3 - Dự án" value="16" resourcefile="" />
		<add name="Footer Menu 4 - Liên kết nhanh" value="32" resourcefile="" />
		<add name="Home - Chuyên mục dự án" value="64" resourcefile="" />
		<add name="Home - Sản phẩm tab" value="128" resourcefile="" />
		<add name="Home - Giới thiệt Đạt Vĩnh Tiến" value="256" resourcefile="" />
		<add name="Home - Tin tức" value="512" resourcefile="" />
		<add name="Home - Đối tác" value="1024" resourcefile="" />
		<add name="Home - Đối tác Slider" value="2048" resourcefile="" />
		<add name="Home - Khách hàng Slider" value="4096" resourcefile="" />
		<add name="Dự án trang con" value="8192" resourcefile="" />
	</position>

</settings>