section.about-1.pd-60
	.container
		h2.main-title.center Giới thiệu
		.row
			.col-lg-6
				.imgbox
					img(src="./img/about/1.jpg", alt="")
			.col-lg-6
				.textbox
					p Được thành lập vào năm 2005, công ty TNHH Đạt Vĩnh Tiến (gọi tắt là Đạt Vĩnh Tiến) đang dần khẳng định là thương hiệu hàng đầu trong lĩnh vực sản xuất tủ bảng điện, Thang Máng Cáp và hệ thống Ống gió. 
					p Nhờ vào chất lượng sản phẩm và sự nỗ lực liên tục của toàn bộ cán bộ công nhân viên và sự dẫn dắt, quản lý tuyệt vời của đầu tàu, ông Nguyễn Trần Thanh Long, Tổng Giám Đốc trong những năm qua Công ty Đạt Vĩnh Tiến tự hào là một trong những doanh nghiệp Việt Nam đầu tiên đạt được chứng nhận KEMA Type Test cho dòng tủ điện hạ thế 6300A, 100kA, Form 4B, IP41 và đã được tập đoàn Schneider Electric toàn cầu chuyển giao công nghệ sản xuất vỏ tủ điện hạ thế Prisma iPM theo tiêu chuẩn quốc tế IEC 61439 1&2 vào đầu năm 2019.
					p Hiện nay, công ty Đạt Vĩnh Tiến có 2 nhà máy sản xuất ở Củ Chi và tại khu công nghiệp Hoàng Gia, Long An với tổng diện tích hơn 13,000m2, có văn phòng đại diện ở 3 thành phố lớn: Tp Hồ Chí Minh, Đà Nẵng và Hà Nội với hơn 300 nhân viên.
					p Trãi qua gần 15 năm hoạt động, Đạt Vĩnh Tiến được nhiều chủ đầu tư lớn tin tưởng lựa chọn và triển khai nhiều dự án phức hợp - căn hộ cao cấp, các tòa nhà hay khu nghì dưỡng 5 sao sang trọng trên khắp cả nước và trở thành đối tác tin cậy của các doanh nghiệp.
