section.about-2.pd-60
	.container
		h2.main-title.center Giá trị - tầm nhìn
		.row
			.col-12
				.imgbox
					img(src="./img/about/2.jpg", alt="")
			.col-lg-6
				.textbox
					.img
						img(src="./img/about/icon_1.png", alt="")
					.content
						h4 Giá trị
						p Công ty Đạt Vĩnh Tiến cam kết và quán triệt tinh thần "An Toàn hôm nay - Vững bền tương lai" nhằm mang đến sự an toàn cho người sử dụng và chính cho người thi công tại các công trình thi công.
			.col-lg-6
				.textbox
					.img
						img(src="./img/about/icon_2.png", alt="")
					.content
						h4 Tầm nhìn
						p Và toàn thể lãnh đạo và cán bộ công nhân viên Đạt Vĩnh Tiến luôn thể hiện tinh thần trách nhiệm cao và tâm huyết với nghề nghiệp, luôn sẵn sàng tiếp cận và học hỏi các công nghệ mới để trở thành công ty sản xuất tủ bảng điện, thang máng cáp & hệ thống ống gió lớn nhất Việt Nam và xuất khẩu sang các nước Đông Nam Á. 