section.about-3.pd-60
	.container
		h2.main-title.center Lịch sử hình thành
		.row
			.col-lg-6
				.year
					.swiper-nav
						span.lnr.lnr-arrow-left
						span.lnr.lnr-arrow-right
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.title 2001
								span.circle
							.swiper-slide
								.title 2002
								span.circle
							.swiper-slide
								.title 2003
								span.circle
							.swiper-slide
								.title 2004
								span.circle
							.swiper-slide
								.title 2005
								span.circle
							.swiper-slide
								.title 2006
								span.circle
							.swiper-slide
								.title 2007
								span.circle
							.swiper-slide
								.title 2008
								span.circle
			.col-lg-6
				.year-info
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.year-info-item.odd
									.icon
										.img
											img(src="./img/about/icon_3.png", alt="")
										.title
											h4 2001
									.content
										p Thành lập Công ty Đạt Vĩnh Tiến22/11/2001
							.swiper-slide
								.year-info-item.even
									.icon
										.img
											img(src="./img/about/icon_3.png", alt="")
										.title
											h4 2002
									.content
										p Tủ điện hạ thế Đạt Vĩnh Tiến được chứng nhận ASTA Type Test cho dòng 3200A
							.swiper-slide
								.year-info-item.odd
									.icon
										.img
											img(src="./img/about/icon_3.png", alt="")
										.title
											h4 2003
									.content
										p Tủ điện hạ thế Đạt Vĩnh Tiến được chứng nhận ASTA Type Test cho dòng 3200A
							.swiper-slide
								.year-info-item.even
									.icon
										.img
											img(src="./img/about/icon_3.png", alt="")
										.title
											h4 2004
									.content
										p Tủ điện hạ thế Đạt Vĩnh Tiến được chứng nhận ASTA Type Test cho dòng 3200A
							.swiper-slide
								.year-info-item.odd
									.icon
										.img
											img(src="./img/about/icon_3.png", alt="")
										.title
											h4 2005
									.content
										p Tủ điện hạ thế Đạt Vĩnh Tiến được chứng nhận ASTA Type Test cho dòng 3200A
							.swiper-slide
								.year-info-item.even
									.icon
										.img
											img(src="./img/about/icon_3.png", alt="")
										.title
											h4 2006
									.content
										p Tủ điện hạ thế Đạt Vĩnh Tiến được chứng nhận ASTA Type Test cho dòng 3200A
							.swiper-slide
								.year-info-item.odd
									.icon
										.img
											img(src="./img/about/icon_3.png", alt="")
										.title
											h4 2007
									.content
										p Tủ điện hạ thế Đạt Vĩnh Tiến được chứng nhận ASTA Type Test cho dòng 3200A
							.swiper-slide
								.year-info-item.even
									.icon
										.img
											img(src="./img/about/icon_3.png", alt="")
										.title
											h4 2008
									.content
										p Tủ điện hạ thế Đạt Vĩnh Tiến được chứng nhận ASTA Type Test cho dòng 3200A