section.about-4.pd-60
	.container
		h2.main-title.center Chứng nhận
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					a(href="#")
						figure
							.imgbox
								img(src="./img/about/3.jpg", alt="")
							figcaption
								h4 Chứng chỉ iso 9001 : 2015 hệ thống quản lí chất lượng sản xuất tủ bảng điện, phụ kiện cơ khí
				.swiper-slide
					a(href="#")
						figure
							.imgbox
								img(src="./img/about/4.jpg", alt="")
							figcaption
								h4 Kema type test certificate of complete stype tests
				.swiper-slide
					a(href="#")
						figure
							.imgbox
								img(src="./img/about/5.jpg", alt="")
							figcaption
								h4 Phiếu kết quả thử nghiệm cable tray 800 x 100 x 2,0 mm
				.swiper-slide
					a(href="#")
						figure
							.imgbox
								img(src="./img/about/6.jpg", alt="")
							figcaption
								h4 Phiếu kết quả thử nghiệm trunking không bột lỗ ( 100 x 50 x1,5)mm + Nắp ( tôn tráng kẽm)
				.swiper-slide
					a(href="#")
						figure
							.imgbox
								img(src="./img/about/3.jpg", alt="")
							figcaption
								h4 Phiếu kết quả thử nghiệm trunking không bột lỗ ( 100 x 50 x1,5)mm + Nắp ( tôn tráng kẽm)
		.swiper-navigation
			span.swiper-prev.lnr.lnr-chevron-left
			span.swiper-next.lnr.lnr-chevron-right