section.about-5.pb-60
	.container
		h2.main-title.center Đối tác - Khách hàng
		.row
			.col-12
				.block-title
					h3 Đối tác
				.cumshot-wrapper.slider-1
					.swiper-container
						.swiper-wrapper
							.swiper-slide.odd
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.even
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.odd
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.even
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.odd
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.even
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.odd
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.even
								a(href="#")
									img(src="./img/customer/1.png", alt="")
					.swiper-navigation
						span.swiper-prev.lnr.lnr-chevron-left
						span.swiper-next.lnr.lnr-chevron-right
			.col-12
				.block-title
					h3 Đối tác
				.cumshot-wrapper.slider-2
					.swiper-container
						.swiper-wrapper
							.swiper-slide.even
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.odd
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.even
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.odd
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.even
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.odd
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.even
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.odd
								a(href="#")
									img(src="./img/customer/1.png", alt="")
					.swiper-navigation
						span.swiper-prev.lnr.lnr-chevron-left
						span.swiper-next.lnr.lnr-chevron-right
			.col-12
				.block-title
					h3 Đối tác
				.cumshot-wrapper.slider-3
					.swiper-container
						.swiper-wrapper
							.swiper-slide.odd
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.even
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.odd
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.even
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.odd
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.even
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.odd
								a(href="#")
									img(src="./img/customer/1.png", alt="")
							.swiper-slide.even
								a(href="#")
									img(src="./img/customer/1.png", alt="")
					.swiper-navigation
						span.swiper-prev.lnr.lnr-chevron-left
						span.swiper-next.lnr.lnr-chevron-right