section.project-wrapper.pd-60
	.container.project-detail
		.row
			.col-lg-6
				.project-image-big
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								img(src="./img/project/1.jpg", alt="")
							.swiper-slide
								img(src="./img/project/1.jpg", alt="")
							.swiper-slide
								img(src="./img/project/1.jpg", alt="")
							.swiper-slide
								img(src="./img/project/1.jpg", alt="")
							.swiper-slide
								img(src="./img/project/1.jpg", alt="")
			.col-lg-6
				.project-info
					h1 Condotel Nha Trang
					.full-content
						p
							b Địa điểm: 
							span Bình Thuận
						p
							b Loại dự án: 
							span Dự án Khách sạn, Khu nghỉ dưỡng, Bệnh Viện
						p
							b Nhà thầu:
							span 
						p
							b Hạng mục: 
							span Tủ Điện
						p
							b Năm thực hiện: 
							span 2010
					.project-image-thumbnails
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									img(src="./img/project/1.jpg", alt="")
								.swiper-slide
									img(src="./img/project/1.jpg", alt="")
								.swiper-slide
									img(src="./img/project/1.jpg", alt="")
								.swiper-slide
									img(src="./img/project/1.jpg", alt="")
								.swiper-slide
									img(src="./img/project/1.jpg", alt="")

			.col-12
				.product-others
					.project-title
						h5 sản phẩm sử dụng trong dự án
					.product-others-nav
						span.lnr.lnr-arrow-left
						span.lnr.lnr-arrow-right
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.product-item
									.imgbox
										a(href="sanpham-ct.html")
											img(src="./img/product/1.png", alt="")
									.title
										h4 tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
									.info-hover
										h4
											a(href="sanpham-ct.html") tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
										a.btn-viewmore.white(href="sanpham-ct.html") 
											span Xem thêm
											span.lnr.lnr-arrow-right
							.swiper-slide
								.product-item
									.imgbox
										a(href="sanpham-ct.html")
											img(src="./img/product/1.png", alt="")
									.title
										h4 tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
									.info-hover
										h4
											a(href="sanpham-ct.html") tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
										a.btn-viewmore.white(href="sanpham-ct.html") 
											span Xem thêm
											span.lnr.lnr-arrow-right
							.swiper-slide
								.product-item
									.imgbox
										a(href="sanpham-ct.html")
											img(src="./img/product/1.png", alt="")
									.title
										h4 tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
									.info-hover
										h4
											a(href="sanpham-ct.html") tủ treo tường w.ip42 tủ treo tường w.ip42 tủ treo tường w.ip42
										a.btn-viewmore.white(href="sanpham-ct.html") 
											span Xem thêm
											span.lnr.lnr-arrow-right
			.col-12
				.product-used-by-projects
					.project-title
						h5 dự án sử dụng sản phẩm
					.product-used-by-projects-nav
						span.lnr.lnr-arrow-left
						span.lnr.lnr-arrow-right
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.project-item
									.imgbox(style="background-image: url('./img/project/2.jpg')")
										img(src="./img/project/2.jpg", alt="")
									.title
										h4 Casino Phú Quốc
									.info-hover
										h4 Casino Phú Quốc
										a.btn-viewmore.white(href="#") 
											span Xem thêm
											span.lnr.lnr-arrow-right
							.swiper-slide
								.project-item
									.imgbox(style="background-image: url('./img/project/2.jpg')")
										img(src="./img/project/2.jpg", alt="")
									.title
										h4 Casino Phú Quốc
									.info-hover
										h4 Casino Phú Quốc
										a.btn-viewmore.white(href="#") 
											span Xem thêm
											span.lnr.lnr-arrow-right
							.swiper-slide
								.project-item
									.imgbox(style="background-image: url('./img/project/2.jpg')")
										img(src="./img/project/2.jpg", alt="")
									.title
										h4 Casino Phú Quốc
									.info-hover
										h4 Casino Phú Quốc
										a.btn-viewmore.white(href="#") 
											span Xem thêm
											span.lnr.lnr-arrow-right