section.projects-wrapper.pd-60
	.container.projects-list
		h2.main-title.center Dự án
		.row
			.col-lg-8.block-1.clearfix
				.project-item-col
					.project-item
						.imgbox(style="background-image: url('./img/project/1.jpg')")
							img(src="./img/project/1.jpg", alt="")
						.title
							h4 Casino Phú Quốc
						.info-hover
							h4
								a(href="duan-ct.html") Casino Phú Quốc
							p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
							a.btn-viewmore.white(href="duan-ct.html") 
								span Xem thêm
								span.lnr.lnr-arrow-right
				.project-item-col
					.project-item
						.imgbox(style="background-image: url('./img/project/2.jpg')")
							img(src="./img/project/2.jpg", alt="")
						.title
							h4 Casino Phú Quốc
						.info-hover
							h4 
								a(href="duan-ct.html") Casino Phú Quốc
							p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
							a.btn-viewmore.white(href="duan-ct.html") 
								span Xem thêm
								span.lnr.lnr-arrow-right
				.project-item-col
					.project-item
						.imgbox(style="background-image: url('./img/project/3.jpg')")
							img(src="./img/project/3.jpg", alt="")
						.title
							h4 Casino Phú Quốc
						.info-hover
							h4
								a(href="duan-ct.html") Casino Phú Quốc
							p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
							a.btn-viewmore.white(href="duan-ct.html") 
								span Xem thêm
								span.lnr.lnr-arrow-right
				.project-item-col
					.project-item
						.imgbox(style="background-image: url('./img/project/4.jpg')")
							img(src="./img/project/4.jpg", alt="")
						.title
							h4 Casino Phú Quốc
						.info-hover
							h4
								a(href="duan-ct.html") Casino Phú Quốc
							p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
							a.btn-viewmore.white(href="duan-ct.html") 
								span Xem thêm
								span.lnr.lnr-arrow-right
			.col-lg-4.block-2.clearfix
				.project-item-col
					.project-item
						.imgbox(style="background-image: url('./img/project/5.jpg')")
							img(src="./img/project/5.jpg", alt="")
						.title
							h4 Casino Phú Quốc
						.info-hover
							h4
								a(href="duan-ct.html") Casino Phú Quốc
							p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
							a.btn-viewmore.white(href="duan-ct.html") 
								span Xem thêm
								span.lnr.lnr-arrow-right
				.project-item-col
					.project-item
						.imgbox(style="background-image: url('./img/project/6.jpg')")
							img(src="./img/project/6.jpg", alt="")
						.title
							h4 Casino Phú Quốc
						.info-hover
							h4
								a(href="duan-ct.html") Casino Phú Quốc
							p Toàn bộ hệ thống tủ điện 3200A nhà thầu chính VINCOMMERCE
							a.btn-viewmore.white(href="duan-ct.html") 
								span Xem thêm
								span.lnr.lnr-arrow-right
		.pages
			.modulepager
				ul.pagination
					li.PagerCurrentPageCell.active
						span.SelectedPage 1
					li.PagerOtherPageCells
						a.ModulePager(href='#') 2
					li.PagerOtherPageCells
						a.ModulePager(href='#') 3
					li.PagerOtherPageCells
						a.ModulePager(href='#') 4
					li.PagerOtherPageCells
						a.ModulePager(href='#') 5
					li.PagerOtherPageCells
						a.ModulePager(href='#') 6
					li.PagerOtherPageCells
						a.ModulePager(href='#') 7
					li.PagerOtherPageCells
						a.ModulePager(href='#') 8
					li.PagerOtherPageCells
						a.ModulePager(href='#') 9
					li.PagerOtherPageCells
						a.ModulePager.NextPage(href='#') ›
					li.PagerOtherPageCells
						a.ModulePager.LastPage(href='#') »